{{template "base" .}}
{{define "content"}}
<div class="flex items-center justify-center p-12 bg-gray-300">
    <div class="mx-auto w-full max-w-[550px]">
      <form action="/addnewtodo" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{$todo := index .Data "todo"}}
        <div class="mb-5">
          <label
            for="title"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Title
          </label>
          <input
            type="text"
            name="title"
            id="name"
            value="{{$todo.Title}}"
            placeholder="Title of your Todo"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
          {{with .Form.Errors.Get "title"}}
            <span class="text-red-500">{{.}}</span>
            {{else}}
            <span class="text-gray-400 text-sm">Enter The Title of Your Todo</span>
          {{end}}
        </div>
        <div class="mb-5">
          <label
            for="email"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Email Address
          </label>
          <input
            type="email"
            name="email"
            id="email"
            value="{{$todo.Email}}"
            placeholder="example@domain.com"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
          {{with .Form.Errors.Get "email"}}
                <span class="text-red-500">{{.}}</span>
          {{else}}
                <span class="text-gray-400 text-sm">Enter Your Email</span>
          {{end}}
        </div>
        <div class="mb-5">
          <label
            for="important"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
          Important
          </label>
          <input name="important" type="checkbox" class="mr-2"/>
        </div>
        <div class="mb-5">
          <label
            for="content"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Content
          </label>
          <textarea
            rows="4"
            name="content"
            value="{{$todo.Content}}"
            id="message"
            placeholder="Type your Todo content"
            class=" {{with .Form.Errors.Get "content"}} bg-red-400 {{else}} bg-white {{end}} text-[#6B7280] w-full resize-none rounded-md border border-[#e0e0e0] py-3 px-6 text-base font-medium  outline-none focus:border-[#6A64F1] focus:shadow-md"
          ></textarea>
          {{with .Form.Errors.Get "content"}}
              <span class="text-red-500">{{.}}</span>
          {{else}}
              <span class="text-gray-400 text-sm">Enter your The content of Your Todo</span>
          {{end}}
        </div>
        <div>
          <input type="submit" value="Add Todo"
            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none"
          />
        </div>
      </form>
    </div>
  </div>
{{end}}