{{template "base" .}}
{{define "content"}}
<div class="flex items-center justify-center p-12 bg-gray-300">
    <div class="mx-auto w-full max-w-[550px]">
      <form action="/addnewtodo" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div class="mb-5">
          <label
            for="title"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Title
          </label>
          <input
            type="text"
            name="title"
            id="name"
            placeholder="Title of your Todo"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div class="mb-5">
          <label
            for="email"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Email Address
          </label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="example@domain.com"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div class="mb-5">
          <label
            for="important"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
          Important
          </label>
          <input name="important" type="checkbox" class="mr-2"/>
        </div>
        <div class="mb-5">
          <label
            for="content"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Content
          </label>
          <textarea
            rows="4"
            name="content"
            id="message"
            placeholder="Type your Todo content"
            class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          ></textarea>
        </div>
        <div>
          <input type="submit" value="Add Todo"
            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none"
          />
        </div>
      </form>

      <!-- showing the data after psoting it -->
      {{$res := index .Data "todo"}}
      <div class="bg-blue-400 p-4 my-4 rounded shadow">
          <h1 class="">
              {{$res.Title}}
          </h1>
          <h2 class="">{{$res.Email}}</h2>
          <h2 class="">{{$res.Content}}</h2>
          <h2 class="">{{if $res.IsImportant}}It is Important {{else}} It's NOT important{{end}}</h2>
      </div>
    </div>
  </div>
{{end}}