{{template "base" .}}
{{define "content"}}
    <div class="h-screen  bg-pink-400">
        <h1 class="text-3xl ">All todos to be here </h1>
        <div class="todolist flex justify-between items-center">

        </div>
    </div>
{{end}}

{{define "javascript"}}
        <script src="./static/javascript/alltodos.js"> </script>
{{end}}
