{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Todo-List</title>
    
</head>
<body class="bg-gray-900">
<!-- NAVBAR -->
        <nav class="shadow bg-white">
                <div class="h-16 mx-auto px-5 flex items-center justify-between">
                    <a class="text-2xl hover:text-cyan-500 transition-colors cursor-pointer" href="/">Logo</a>
                    <ul class="flex items-center gap-5">
                      <li><a class="hover:text-cyan-500 transition-colors" href="/">HOME</a></li>
                      <li><a class="hover:text-cyan-500 transition-colors" href="/alltodos">ALL TODOS</a></li>
                      <li><a class="hover:text-cyan-500 transition-colors" href="/search">SEARCH</a></li>
                      <li><a class="hover:text-cyan-500 transition-colors" href="/addnewtodo">ADD NEW</a></li>
                    </ul>
                </div>
        </nav>
<!-- CONTENT -->
        {{block "content" .}}

        {{end}}

        {{block "alltodos" .}}
        
        {{end}}

<!-- FOOTER -->
        <div class="">
          <footer class="p-4 bg-white shadow md:px-6 md:py-8 bg-white">
            <div class="sm:flex sm:items-center sm:justify-between">
              <a href="/" target="_blank" class="flex items-center mb-4 sm:mb-0">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-dark">LOGO</span>
              </a>
              <ul class="flex flex-wrap items-center mb-6 sm:mb-0">
                <li>
                  <a href="/" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-700">About</a>
                </li>
                <li>
                  <a href="/" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-700">Privacy
                    Policy</a>
                </li>
                <li>
                  <a href="/"
                    class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-700">Licensing</a>
                </li>
                <li>
                  <a href="/" class="text-sm text-gray-500 hover:underline dark:text-gray-700">Contact</a>
                </li>
              </ul>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://github.com/mrkouhadi" target="_blank" class="hover:underline">KOUHADI</a>. All Rights Reserved.
            </span>
          </footer>
          </div>

<!-- JAVASCRIPT -->
        <!-- <script src="./static/javascript/index.js"> </script> -->
        {{block "alltodos-js" .}}

        {{end}}
    </body>
</html>
{{end}}