{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TODO-LIST in GO (golang)</title>
</head>
<body>
  <!-- NAVBAR -->
    <nav class="">
        <ul class="">
            <li>HOME</li>
            <li>ALL TODOS</li>
            <li>SEARCH</li>
            <li>ADD NEW TODO</li>
        </ul>
    </nav>
    <!-- CONTENT -->
    {{block "content" .}}

    {{end}}

    <!-- FOOTER -->
    <footer class="">
        <h1>footer</h1>
    </footer>

    <!-- JAVASCRIPT -->
    <script src="./static/js/index.js"></script>
</body>
</html>
{{end}}