{{template "base" .}} 
{{define "content"}}
<div  class="text-white">
  <div class="">
    <div class="h-screen">
      <p>{{index .Data "greet"}}</p>
      <h1>This is the HOME page</h1>
    </div>
  </div>
</div>

{{end}} 